<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.victorcatao.amaki">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.adm.editAbout.EditAboutActivity"></activity>
        <activity android:name=".ui.adm.categoriesList.CategoriesListActivity" />
        <activity android:name=".ui.adm.contactsList.ContactsListActivity" />
        <activity android:name=".ui.adm.contactsList.ContactsList" />
        <activity android:name=".ui.adm.contactsList.Main2Activity" />
        <activity android:name=".ui.adm.allEstablishments.AllEstablishmentsActivity" />
        <activity android:name=".ui.customerpartner.CustomerPartnerActivity" />
        <activity android:name=".ui.customerpartner.CustomerPartner" />
        <activity android:name=".ui.about.About" />
        <activity android:name=".ui.map.MapActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity android:name=".ui.establishment.EstablishmentActivity" />
        <activity android:name=".ui.search.SearchActivity" /> <!-- FIREBASE MESSAGING -->
        <service android:name=".data.remote.firebase.FbInstaceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".data.remote.firebase.FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- TODO CHANGE ICON TO A NOTIFICATION ICON ACCORDING TO SPECIFICATIONS -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" /> <!-- FILE PROVIDER -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files_paths" />
        </provider> <!-- FABRIC -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="243c9db4f3712db5600b05370e322214a407b7ca" /> <!-- ACTIVITIES -->
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.common.ExpandedPictureActivity" />
        <activity android:name=".ui.common.WebViewActivity" />
        <activity android:name=".ui.simplelist.SimpleListActivity" />
        <activity android:name=".ui.loadingactivity.LoadingActivity" />
        <activity android:name=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true" />
        <activity android:name=".ui.forgotpassword.ForgotPasswordActivity" />
        <activity android:name=".ui.gallery.GalleryActivity" />
        <activity android:name=".ui.adm.homeADM.HomeADMActivity" />
        <activity android:name=".ui.adm.newCategory.NewCategoryActivity" />
        <activity android:name=".ui.adm.newEstablishment.NewEstablishmentActivity" />
    </application>

</manifest>